$global-font-size: 16px;

html {
  font-size: $global-font-size;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1rem; 
  color: $primaryColor;
}

a {
  text-decoration: none;
  &:link,
  &:hover,
  &:visited,
  &:active {
    color: inherit;
  }
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.position--relative {
  position: relative;
}
