// colors
$primaryColor: #452e76;
$secondaryColor: #48c3dc;
$lightGrey: #808080;
// $coworkerFilterColor: #48c3dc
$footerColor: #d5d5d5;
$hoverColor: #d5d5d5;

$primaryColorDark: #272934;

//breakpoints
$small: 640px;
$medium: 800px;
$large: 1200px;
$largeMenu: 1250px;
$extraLarge: 1600px;

//animation time
$animationTime: all 0.2s ease;